<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Tourney:wght@200&display=swap" rel="stylesheet">

  <title>Shop&Go</title>
</head>
<div>
<div class="header">
  <nav>
    <ul class="topnav">
      <li>
        <button (click)="show()" class="btn" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" aria-checked="true">Home</button>
      </li>
      
    </ul>
  </nav>
  <div class="title">
    <h1>Shop&Go Web Shop</h1>
</div>
</div>

<div>
  <app-reviews [hidden]="showReviews" [closeBuy]="closeBuy"></app-reviews>
</div>
<router-outlet></router-outlet>