<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Fasthand&family=Pacifico&display=swap"
    rel="stylesheet">
  <title>Web App</title>
</head>
<div>
<div class="header">
  <nav>
    <ul class="topnav">
      <li>
        <button (click)="show()" class="btn" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" aria-checked="true">Home
          Page</button>
      </li>
    </ul>
  </nav>
    <div class="title">
        <h1>Welcome to Shop&Go Web Shop</h1>
    </div>
      
</div>

<div>
  <app-reviews [hidden]="showReviews"></app-reviews>
</div>
<router-outlet></router-outlet>