
.topnav button {
  float: left;
  display: block;
  color: #171313;
  text-align: center;
  //padding: 14px 16px;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  width: 7%;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #ffffffe0;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.title {
  color: rgb(36, 36, 32);
  font-size: larger;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 600px) {

    .topnav button {
        width: 12%;
    }

    .title {
        font-size: small;
    }

    .topnav {
        display: inline;
    }
  }

  @media (min-width: 601px) and (max-width: 768px) {

    .topnav button {
        width: 8%;
    }

    .title {
        width: 100%;
        font-size: smaller;
    }
    .topnav {
        display: inline;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
  
    .topnav button {
        width: 8%;
    }

      .title {
        width: 100%;
        font-size: medium;
      }
      .topnav {
        display: inline;
    }
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
  
    .title {
        width: 100%;
        font-size: medium;
    }
    .topnav {
        display: inline;
    }
}

@media (min-width: 1201px){

    .title {
        width: 100%;
        font-size: medium;
    }
    .topnav {
        display: inline;
    }
}