
.topnav button {
  float: left;
  display: block;
  color: #171313;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav button:hover {
  background-color: #dcc5c5;
  color: black;
}

.logo {
width: 200px;
}

.title {
 // text-align: center;
  color: rgb(36, 36, 32);
  font-size: larger;
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
