.form-control1 {
    width: 20%;
}

.form-control2 {
    width: 50%;
}

textarea {
    resize: none;
  }

  .rating-list i {
    float: right;
    color: #edf2bb;
  }
  
  .rating-list i:hover,
  .rating-list i:hover ~ i {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }

  .rating-list i.selected {
    color: #ffd700;
}

.done-rating-list {
    color: #ffd700;
    display: inline-block;
    list-style: none;
    font-size: 30px;
}

.starSize {
    font-size: 40px;
}
  
.list-inline rating-list {
    display: inline-block;
    list-style: none;
}

.images {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.images img {
  width: 300px;
}

img {
  box-shadow: 0 5px 35px 0px rgba(95, 247, 255, 0.727);
}

body {
  width: 100%;
}

.buyButton {
  display: flex;
  justify-content: center;
}

.buyButton button {
  width: 200px;
  height: 70px;
}

.buyButton button:link,
.buyButton button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.buyButton button:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.buyButton button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.buyButton button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.buyButton button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.buyButton button-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}