

.container {
    background-color: rgb(178, 178, 178);
    width: 100%;
    border: 3px solid rgb(8, 8, 8);
    columns: 2;
   -webkit-columns: 2;
   -moz-columns: 2;
    
}

img {
    width: 500px;
    height: 300px;
    border-radius: 8%;
   // border: 5px solid #090808;
}


.description {
    height: 2ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li {
    width: 80%;
    padding: 25px 0px 25px 25px;
}

li:hover {
    box-shadow: 0 5px 35px 0px rgba(24, 161, 211, 0.727);
}