  <div>
  <app-best-sellers [products]="products"></app-best-sellers>
  <div class="container">
    <div class="oneProduct">
      <ul *ngFor="let product of products" class="products">
        <li (click)="selectedProducts(product)" routerLink="/reviews-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
          <h2> {{product.title}} </h2>
          <img src="{{product.thumbnail}}" alt="Picture" class="images">
          <p class="description"> {{product.description}} </p>
          <h3>{{product.price}}$</h3>
        </li>
      </ul>
    </div>
  </div>
</div>