.title {
    text-align: center;
    color: rgb(36, 36, 32);
    font-size: larger;
    font-family: 'Pacifico', cursive;
}

.container {
    background-color: rgb(178, 178, 178);
    //display: block;
  //  column-count: 2;
    width: 100%;
   // column-gap: 20%;
  //  padding: 100px;
  border: 3px solid rgb(8, 8, 8);
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
    
}

img {
    width: 500px;
    height: 300px;
    border-radius: 8%;
   // border: 5px solid #090808;
}

img:hover {
    border: 5px solid #d74040;
}

.description {
    height: 2ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li {
    width: 100%;
    padding: 10px;
}