
.allContainers {
    display: flex;
    justify-content: center;
}

img {
    width: 500px;
    height: 300px;
}


.description {
    height: 2ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.products li {
    width: 100%;
    padding: 5px 5px 45px 5px;
}

li:hover {
    box-shadow: 0 15px 35px 7px rgba(233, 5, 5, 0.734);
}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

@media (max-width: 600px) {
   
    .container {
        width: 80%;
    }
  
    img {
      width: 100%;
      height: 100%;
    }

    .products li {
        padding-bottom: 10px;
        font-size: smaller;
        margin-left: -25px;
    }
  }

  @media (min-width: 601px) and (max-width: 768px) {
    

    .container {
        width: 80%;
    }
    img {
        width: 100%;
        height: 100%;
      }
  
      li {
         // padding: 5px 5px 5px 5px;
          font-size: smaller;
      }
  }

  @media (min-width: 769px) and (max-width: 1024px) {

    .container {
        width: 80%;
    }
    img {
        width: 100%;
        height: 100%;
      }
  
      li {
          padding: 5px 5px 10px 5px;
          font-size: smaller;
      }
  }

  @media (min-width: 1025px) and (max-width: 1200px) {

    .container {
        width: 80%;
    }

    img {
        width: 100%;
        height: 100%;
      }
  
      li {
          padding: 5px 5px 15px 5px;
          font-size: smaller;
      }
  }

  @media (min-width: 1201px){

    .container {
        width: 50%;
    }

    img {
        width: 100%;
        height: 100%;
      }
  
      li {
          padding: 5px 5px 15px 5px;
          font-size: smaller;
      }
  }
  