.bestSellers {
display: flex;
justify-content: center;
font-family: 'Permanent Marker', cursive;

}

.bestProduct {
  font-family: 'Indie Flower', cursive;
}

 @keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -90%; }
  45% { left: -120%; }
  50% { left: -200%; }
  70% { left: -220%; }
  75% { left: -300%; }
  95% { left: -350%; }
  100% { left: -400%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 150%; float: left; }
  div#slider figure { 
    position: relative;
    width: 300%;
    //margin-left: 100px;
    left: 0;
    text-align: left;
    animation: 10s slidy infinite; 
    display: flex;
    justify-content: space-between;
    padding-left: 342px;
  }
  
  img {
    border: 8px solid;
    padding: 10px;
    border-image: repeating-linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89)) 20;
  }

ul li{
  display: flex;
  flex-direction: row;
}
