
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<div class="bestSellers"><h1>Best Sellers</h1></div>
<base>
<div id="slider">
<figure class="bestProduct">
    <ul *ngFor="let product of products">
        <li *ngIf="product.rating > 4.5">
            <img src="{{product.thumbnail}}">
            
            <h1>{{product.title}}</h1>
        </li>
    </ul>
</figure>
</div>