.bestSellers {
display: flex;
justify-content: center;
font-family: 'Permanent Marker', cursive;

}

.bestProduct {
  font-family: 'Indie Flower', cursive;
}

li {   
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
}

 @keyframes slidy {
  0% { left: -20%; }
  20% { left: 5%; }
  25% { left: 0%; }
  45% { left: -135%; }
  50% { left: -140%; }
  70% { left: -235%; }
  75% { left: -240%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 120%; float: left; }
  div#slider figure { 
    position: relative;
    width: 300%;
    left: 0;
    text-align: left;
    animation: 10s slidy infinite; 
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
  }
  
  img {
    border: 8px solid;
    padding: 10px;
    border-image: repeating-linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89)) 20;
  }

  h1, h2, h3, h4 {
    font-family: 'Shadows Into Light', cursive;
  }
  

  @media (max-width: 600px) {
    body {
      width: 100%;
    }
  
    img {
      width: 100%;
    }
    div#slider figure img { width: 100%; float: left; }

    .bestSellers {
      font-size: small;
    }

    .bestProduct {
      font-size: small;
    }
  }
